.footer {
  flex: auto;
  max-width: 100%;
  background-color: white;
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 2.778vw;
  border-top: 1px solid #f3f4f6;
}

.footer p{
  font-size: 1.15vw;
}
