<div class="order-container" [@fadeIn]>
  <h2>Замовлення</h2>
  <div class="order-content">
    <div class="left-section">
      <img [src]="product?.imageUrl" [alt]="product?.name" class="product-image-order">
    </div>
    <div class="right-section">
      <p>Виріб: {{ product?.name }}</p>
      <p>Ціна: {{ price }}</p>
      <p>{{ product?.description }}</p>
      <div class="product-quantity">
        <label for="productQuantity">Кількість:</label>
        <input type="number" id="productQuantity" [(ngModel)]="quantity" min="1" max="{{product?.amount}}">
      </div>
      <!-- Radio buttons for shipping options -->
      <div class="shipping-options">
        <label>
          <input type="radio" name="shippingOption" [(ngModel)]="withShipping" [value]="true"> З доставкою
        </label>
        <label>
          <input type="radio" name="shippingOption" [(ngModel)]="withShipping" [value]="false"> Без доставки
        </label>
      </div>
      <!-- Checkbox to confirm the order -->
      <div class="confirm-order">
        <label>
          <input type="checkbox" [(ngModel)]="confirmOrderCheckbox"> Я підтверджую замовлення
        </label>
      </div>
      <button class="my-button" (click)="confirmOrder()" [disabled]="!confirmOrderCheckbox">Замовити</button>
    </div>
  </div>
</div>
