/* cart.component.css */
.cart-container {
  max-width: 80%;
  margin: auto;
  display: block;
  margin-top: 2vw;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f3f4f6;
  padding: 10px;
  margin-bottom: 10px;
}

.item-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-item .product-image {
  width: 9vw;
  height: auto;
  margin-right: 15px;
  border-radius: 0.3vw;
}

.item-details {
  flex-grow: 1;
}
.item-details input{
  font-family: "Viaoda Libre", serif;
}

.item-actions {
  margin-left: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.total-sum {
  text-align: center;
  flex-grow: 1;
}

.clear-cart {
  margin-left: auto;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62vh;
  text-align: center;
  padding: 20px;
}

.empty-cart img {
  width: 100px;
  margin-bottom: 20px;
}
