.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;

}

.product-details {
  display: flex;
  margin: 5vw 0;
}

.product-image {
  width: 30vw;
  height: auto;
  border-radius: 0.3vw;
  margin: 0 4vw 0 0;
}

.product-info {
  flex: 1;
  margin-left: 2vw;
}

.product-info h2 {
  font-size: 2vw;
}

.product-info p {
  font-size: 1.35vw;
}

.mat-accordion {
  width: 90%;
  margin-bottom: 20px;
  border-radius: 0.3vw;
}

.mat-expansion-panel {
  padding: 20px;
  max-width: 100%;
  border-radius: 0.3vw;
  border-bottom: 1px solid #f3f4f6;
  box-shadow: none !important;
}

.mat-expansion-panel p {
  font-family: "Viaoda Libre", serif;
  font-size: 1.35vw;
}

.care-instructions ul li {
  font-family: "Viaoda Libre", serif;
  font-size: 1.3vw;
}

.mat-expansion-panel-header-title {
  font-family: "Viaoda Libre", serif;
  font-size: 1.35vw;
  font-weight: bold;
}

.reviews {
  width: 90%;
  margin-bottom: 20px;
  border-radius: 0.3vw;
  border-bottom: 1px solid #f3f4f6;
  font-family: "Viaoda Libre", serif;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}

.reviews h2 {
  font-size: 1.35vw;
  margin: 0;
}

.review-item {
  padding: 10px 3vw;
  border-bottom: 1px solid #f3f4f6;
}

.review-item:last-child {
  border-bottom: none;
}

.review-item p {
  text-align: center;
  margin: 0;
  font-size: 1.3vw;
  line-height: 1.6;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-family: "Viaoda Libre", serif;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}
.form button {
  margin-left: auto;
}
button {
  font-family: "Viaoda Libre", serif;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}


.mat-panel-title {
  font-weight: bold;
}

.care-instructions {
  padding: 0 20px;
}

.care-instructions p {
  margin-bottom: 20px;
}

.care-instructions ul {
  margin-bottom: 20px;
  padding-left: 50px;
}

.care-instructions li {
  margin-bottom: 20px;
}

.my-button {
  margin-right: 10px;
}
