<div class="product-container" [@fadeIn]>
  <div class="product-details">
    <img [src]="product?.imageUrl" [alt]="product?.name" class="product-image">
    <div class="product-info">
      <h2>{{ product?.name }}</h2>
      <p>{{ product?.description }}</p>
      <p>Ціна: {{ product?.price }}</p>
      <button class="my-button" (click)="buyProduct()" [disabled]="!product?.inStock">Купити
      </button>
      <button class="my-button" (click)="addToCart(product, 1)" [disabled]="!product?.inStock">Додати в кошик</button>
    </div>
  </div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Рекомендації по догляду
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="care-instructions">
        <p>Щоб забезпечити якість і тривалість виробів, будь ласка, дотримуйтесь цих нижніх
          інструкцій з догляду:</p>

        <ul>
          <li><strong>Лише Ручне Прання:</strong> Рекомендуємо прати вручну, щоб вироби не збіглись
            та не розтягнулись.
          </li>
          <li><strong>Використовуйте М'який Миючий Засіб:</strong> При пранні використовуйте м'який
            миючий засіб, спеціально призначений для делікатного прання. Уникайте використання
            агресивних хімічних засобів або відбілювачів, оскільки вони можуть погіршити якість та
            кольори.
          </li>
          <li><strong>Пральне Прання:</strong> Пральний цикл має бути налаштований на холодну воду,
            щоб уникнути змін розміру і зберегти цілісність тканини.
          </li>
          <li><strong>Сушіть не в Сушарці:</strong> Після прання розгорніть тканину на чистому
            рушнику, щоб висихала. Уникайте використання сушарки, оскільки тепло може пошкодити
            виріб.
          </li>
          <li><strong>Уникайте Прямого Сонячного Світла:</strong> Під час сушіння розмістіть тканину
            подалі від прямого сонячного світла, щоб уникнути вигорання кольорів.
          </li>
          <li><strong>Прасуйте з Обережністю:</strong> Якщо прасування необхідне, використовуйте
            низьку температуру та покладіть зверху тканину під час прасування.
          </li>
        </ul>

        <p>Дотримання цих простих інструкцій з догляду допоможе зберегти красу і тривалість виробів,
          що дозволить вам насолоджуватися ним протягом багатьох років.</p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Склад
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>В наших вʼязаних виробах використовуються натуральні матеріали для забезпечення комфорту,
        тепла та
        довговічності. Кожен виріб виготовляється вручну з нитками, які містять в собі:
        <br/>
        100% Шерсті: Ми виключно використовуємо 100% шерсті. Шерсть -
        це натуральне волокно, відоме своєю винятковою м'якістю, теплотою та диханням. Вона
        забезпечує комфорт,
        тепло, що робить її ідеальною для як дуже холодних, так і
        прохолодних кліматичних умов.</p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="reviews">
    <div class="review-header">
      <h2>Відгуки</h2>
      <button mat-button (click)="toggleReviewForm()"
              *ngIf="authService.isLoggedIn()">{{ showReviewForm ? 'Сховати'
          : 'Додати відгук' }}</button>
    </div>
    <div *ngIf="showReviewForm" class="form-container">
      <form [formGroup]="reviewForm" (ngSubmit)="submitReview()" class="form">
        <textarea formControlName="comment" placeholder="Ваш відгук" required></textarea>
        <button type="submit" mat-raised-button color="primary" [disabled]="reviewForm.invalid">
          Надіслати відгук
        </button>
      </form>
    </div>
    <div *ngIf="!authService.isLoggedIn()">
      <p>Щоб залишити відгук, зареєструйтесь або увійдіть.</p>
    </div>
    <div *ngFor="let item of reviews" class="review-item">
      <div class="review-content">
        <p class="review-author"><strong>{{ item.user.name || item.user.email }}</strong>:</p>
        <p class="review-comment">{{ item.review.comment }}</p>
      </div>
    </div>
  </div>


</div>

