<head>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap"
        rel="stylesheet">
  <title>warmth woven by mom</title>
</head>
<body>
<div class="main">

  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Warmth Woven By Mom</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>Option 1</button>
      <button mat-menu-item>Option 2</button>
      <button mat-menu-item>Option 3</button>
    </mat-menu>
  </mat-toolbar>

  <app-product-display *ngFor="let product of products"
                       [product]="product"/>
</div>
</body>
