<head>
  <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
  <title>warmth-woven-by-mom</title>
</head>
<body>
<mat-sidenav-container class="sidenav-container">
  <!-- Main content area -->
  <mat-sidenav #sidenav mode="over" position="start">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Головна</a>
      <a mat-list-item routerLink="/products" (click)="sidenav.close()">Вироби</a>
      <!-- Add other menu items as needed -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <!-- Button to open the side menu -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
              (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <!--        <div class="logo-container">-->
      <!--          <img src="assets/logo/cat-sleep-logo.png" alt="Logo">-->
      <!--        </div>-->
      <span class="custom-font brand-name">
          <span class="brand-name-clickable" (click)="redirectToHome()">WarmthWovenByMom</span>
        </span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="redirectToLogin()" aria-label="Login">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon" (click)="redirectToOrders()">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Your main content goes here -->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
</body>
