body {
  font-family: "Viaoda Libre", serif;
  background-color: white;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #f3f4f6;
}

.brand-name {
  font-family: "Viaoda Libre", serif;
  text-align: center;
  width: 100%;
}

.brand-name-clickable {
  font-family: "Viaoda Libre", serif;
}

.brand-name-clickable:hover {
  color: darkgrey;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  font-family: "Viaoda Libre", serif;
  height: 100vh; /* 100% of the viewport height */
  background-color: white;
}

.custom-font {
  font-family: "Viaoda Libre", serif;
}

:host /deep/ .mdc-list-item__primary-text {
  font-family: "Viaoda Libre", serif;
}

.mat-sidenav {
  width: 25%; /* Adjust the width as needed */
  padding: 1%; /* Add padding to the left and right */
}

mat-nav-list {
  width: 100%; /* Make the list take full width */
}
