<div class="orders-page">
  <div class="order-container">
    <h2>Замовлення</h2>
    <div class="order-info">
      <p>№: {{order?.id}}</p>
      <p>Статус: <span [class]="getStatusClass(order?.status)">{{ getStatusText(
          order?.status) }}</span></p>
      <p>Сума: {{ order?.price }}</p>
      <p>{{ order?.withShipping ? 'З доставкою' : 'Самовивіз' }}</p>
      <div class="status-update-form">
        <label for="status">Змінити статус:</label>
        <select id="status" [(ngModel)]="updatedStatus" [disabled]="order?.status === OrderStatus.CANCELED">
          <option value="IN_PROGRESS">В процесі</option>
          <option value="COMPLETE">Виконано</option>
        </select>
        <button class="my-button" (click)="updateStatus()" [disabled]="order?.status === OrderStatus.CANCELED">Оновити статус</button>
      </div>
    </div>
  </div>
  <div class="orders-table">
    <app-admin-order-view-display *ngFor="let item of order?.items"
                                  [item]="item"></app-admin-order-view-display>
  </div>
</div>
