<div class="order-container" [@fadeIn]>
  <div class="order-content">
    <div class="images-container">
      <img *ngFor="let item of order.items" [src]="item.product?.imageUrl" [alt]="item.product?.name"
           class="product-image-order">
    </div>
    <div class="order-details">
      <p>Сума: {{ order.price }}</p>
      <p>{{ order.withShipping ? 'З доставкою' : 'Без доставки' }}</p>
      <ul>
        <li *ngFor="let item of order.items">
          <strong>{{ item.product?.name }}</strong> (Кількість: {{ item.quantity }})
        </li>
      </ul>
    </div>
  </div>
</div>
