.order-container {
  max-width: 50vw;
  margin: 2vw auto;
  padding: 2vw;
  background-color: #fff;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25vw;
}

.order-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.left-section {
  flex: 0 0 40%;
}

.right-section {
  flex: 0 0 60%;
}

.images-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 44%;
  height: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0.3vw;
}


.product-image-order {
  width: 15vw;
  height: auto;
  display: inline-flex;
  vertical-align: top;
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 0.3vw;
}

label {
  display: block;
  margin-bottom: 1vw;
}

.order-details {
  margin-right: 6vw;
}

.order-details ul {
  padding: 0;
  list-style: none;
}

.order-details li {
  margin-bottom: 5px;
}

.status-in-progress {
  color: deepskyblue;
}

.status-complete {
  color: green;
}
