.product-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.products-table {
  margin-top: 1.1vw;
}

.product-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.empty-card {
  opacity: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: "Viaoda Libre", serif;
}

.search-bar input[type="text"] {
  padding: 10px; /* Increase padding for better spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px; /* Increase right margin for better separation */
  font-family: inherit; /* Inherit font family */
  font-size: inherit; /* Inherit font size */
}

.search-bar .sorting-options {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search-bar .sorting-options label {
  margin-right: 10px;
  font-family: inherit;
  font-size: inherit;
}

.search-bar .sorting-options select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  background-color: #ffffff; /* Add background color */
}

.search-bar .sorting-options button {
  min-width: 0;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent; /* Make button background transparent */
  border: none; /* Remove button border */
  cursor: pointer; /* Add cursor pointer on hover */
}

.search-bar .sorting-options button:focus {
  outline: none; /* Remove focus outline */
}

.search-bar .in-stock-checkbox {
  margin-left: auto; /* Align checkbox to the right */
}

/* Hide default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style the custom checkbox container */
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 25px; /* Adjust spacing for the checkbox */
  font-size: 16px; /* Adjust font size */
  line-height: 1.5; /* Adjust line height */
  cursor: pointer;
}

/* Style the custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Adjust checkbox height */
  width: 20px; /* Adjust checkbox width */
  background-color: #fff; /* Background color of checkbox */
  border: 1px solid #ccc; /* Border color of checkbox */
  border-radius: 3px; /* Border radius of checkbox */
}

/* Hide the checkmark by default */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark */
.custom-checkbox .checkmark:after {
  left: 6px; /* Adjust position of the checkmark */
  top: 2px; /* Adjust position of the checkmark */
  width: 5px; /* Adjust size of the checkmark */
  height: 10px; /* Adjust size of the checkmark */
  border: solid #000; /* Color of the checkmark */
  border-width: 0 2px 2px 0; /* Style of the checkmark (arrow) */
  transform: rotate(45deg); /* Rotate the checkmark to form an arrow */
}

.pagination {
  margin-top: 20px; /* Збільшити відступ зверху */
}

.my-button {
  margin: 0 10px; /* Збільшити відступи між кнопками */
}


