.product-page {
  display: flex;
  justify-content: center;
}

.products-table{
  margin-top: 1.1vw;
}

.product-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.empty-card{
  opacity: 0;
}
