<div class="product-page">
  <div class="search-bar">
    <input type="text" placeholder="Пошук..." [(ngModel)]="searchQuery" (input)="search()">
    <div class="sorting-options">
      <label>Сортувати за:</label>
      <select [(ngModel)]="sortField" (change)="sort(sortField)">
        <option value="name">Назвою</option>
        <option value="price">Ціною</option>
      </select>
      <button mat-icon-button (click)="toggleSortDirection()">
        <mat-icon>{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
      </button>
    </div>
    <div class="in-stock-checkbox">
      <label class="custom-checkbox">
        <input type="checkbox" [(ngModel)]="inStockOnly" (change)="toggleInStock()">
        <span class="checkmark"></span>
        Показати лише в наявності
      </label>
    </div>
  </div>

  <div class="products-table" [@fadeIn]>
    <div class="product-row" *ngFor="let row of productRows">
      <app-product-display *ngFor="let product of row" [product]="product"></app-product-display>
    </div>
  </div>

  <div class="pagination">
    <button class="my-button"  [disabled]="currentPage === 0" (click)="changePage(currentPage - 1)">Попередня</button>
    <span>{{ currentPage + 1 }} / {{ totalPages }}</span>
    <button class="my-button"  [disabled]="currentPage === totalPages - 1" (click)="changePage(currentPage + 1)">Наступна</button>
  </div>
</div>
