/* landing-page.component.css */

.header {
  background-image: url('src/assets/preview/IMG_6579.jpg');
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0.3vw;
}
.header:hover{
  filter: grayscale(50%);
  opacity: 0.7;
}

.landing-page {
  padding: 3.33vw;
  text-align: center;
  background-color: white;
}

.header,
.brand-started,
.products-scroll,
.products,
.footer {
  opacity: 1;
}
p{
  font-size: 1.45vw;
}
h2{
  font-size: 2.1vw;
}
h1{
  font-size: 3vw;
}

.hidden-text {
  max-width: calc((100vw - 40px) / 2);
  margin: 5.556vw auto; /* Center the text horizontally */
  font-size: 1.25vw;
  line-height: 1.6;
  text-align: justify;
}

.brand-started{
  margin: 6.25vw;
}

.brand-started p {
  font-size: 1.45vw; /* Increase the font size of the paragraph */
  line-height: 1.6; /* Increase the line height for better readability */
  text-align: justify; /* Ensure text starts from the same position on each line */
  margin: 0; /* Remove any default margins */
  padding: 0; /* Remove any default paddings */
}

.products-scroll {
  margin: 6.25vw;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: calc(100vw - 40px); /* Adjust based on your margin and padding */
}

.scroll {
  display: inline-flex;
}

.scroll img {
  max-width: 100%; /* Ensure image doesn't exceed its container width */
  max-height: 34vw; /* Set a maximum height for the images */
  height: auto; /* Allow the height to adjust proportionally */
  margin-right: 0.69vw; /* Add spacing between images */
  border-radius: 0.3vw;
}
.scroll img:hover {
  border-radius: 1.389vw;
  transform: scale(1.04);
  box-shadow: 0 0 10px rgba(211, 250, 238, 0.5); /* Add glow effect */
}


/* Responsive styles */
@media (max-width: 41.667vw) {
  .scroll-container {
    max-width: calc(100vw - 20px); /* Adjust for smaller screens */
  }

  .scroll img {
    max-height: 10.417vw; /* Adjust maximum height for smaller screens */
  }
}
