<!-- landing-page.component.html -->
<div class="landing-page">

  <!-- Header -->
  <div class="header" [@fadeIn] (click)="toggleTextVisibility()">
    <h1>Welcome to Warm Place</h1>
    <p>Discover our high-quality products</p>
  </div>

  <div class="hidden-text" *ngIf="isTextVisible">
    <p>Mom can give a lot of love to her children. But it does not necessarily end there.
      Mom makes everything with love. So our products are not only warm because of wool
      but because of the love mom put into them.</p>
  </div>


  <!-- Products Scroll -->
  <div class="products-scroll" [@fadeIn]>
    <h2>Featured Products</h2>
    <div class="scroll-container">
      <div class="scroll">
        <img *ngFor="let image of imageUrls" [src]="image.url" [alt]="image.alt">
      </div>
    </div>
  </div>

  <!-- Brand Story -->
  <div class="brand-started" [@fadeIn]>
    <h2>Our Story</h2>
    <p>A mother's love is a powerful force that extends far beyond the physical realm. It's the
      warmth in her embrace, the tenderness in her touch, and the unwavering support in her words.
      When a mother crafts something with love, it becomes infused with a special kind of magic – a
      magic that transcends mere materials and transforms ordinary objects into cherished treasures.

      In our shop, every product is a testament to this magic. Each stitch, each fold, and each
      detail is imbued with the love and care of a mother's hands. It's not just about the wool that
      creates warmth; it's about the love that creates a connection. Our products carry the essence
      of this love, radiating warmth and comfort to all who encounter them.</p>
  </div>

  <!-- Products Scroll -->
  <div class="products-scroll" [@slideUp]>
    <h2>More Products</h2>
    <div class="scroll-container">
      <div class="scroll">
        <img *ngFor="let image of imageUrls2" [src]="image.url" [alt]="image.alt">
      </div>
    </div>
  </div>

  <!-- View More Button -->
  <div class="view-more">
    <div fxLayout="row" fxLayoutAlign="center">
      <a href="/products">
        <button mat-raised-button>View More</button>
      </a>
    </div>
  </div>

</div>
