.product-card-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1vw;
}

.product {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 30vw;
  background-color: #fff;
  border-radius: 0.3vw;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
  padding: 2vw;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.product:hover {
  transform: translateY(-1vw);
}

.product-image {
  max-width: 100%;
  max-height: 30vw;
  height: auto;
  border-radius: 0.3vw;
  margin-bottom: 2vw;
}

.product-name {
  font-size: 1.4vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.product-description {
  font-size: 1vw;
  margin-bottom: 0.7vw;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-size: 1.2vw;
  color: #474748;
}

.product-stock {
  font-size: 1.05vw;
}

.in-stock {
  color: green;
}

.out-of-stock {
  color: red;
}
