.product-card-container {
  max-width: 50%; /* 80% of the parent container's width */
  margin: 0 auto;
  padding: 16px;
}

mat-card {
  width: 100%;
}

mat-card-title,
mat-card-subtitle {
  font-family: 'Quicksand', sans-serif;
  word-wrap: break-word;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}
