<div class="product-card-container" (click)="product.id !== null && navigateToProductView(product.id)">
  <div class="product">
    <img [src]="product.imageUrl" [alt]="product.name" class="product-image">
    <h3 class="product-name">{{ product.name }}</h3>
    <p class="product-description">{{ product.description }}</p>
    <div class="product-info">
      <p class="product-price">Ціна: {{ product.price }}</p>
      <p class="product-stock" [ngClass]="{'in-stock': product.inStock, 'out-of-stock': !product.inStock}">
        {{ product.inStock ? 'В наявності' : 'Немає в наявності' }}
      </p>
    </div>
  </div>
</div>
